.App {
  text-align: center;
}

.paper{
  margin:0 auto;
  width: 100%;
  max-width: 1080px;
  overflow-x: auto;
}

.table{
  min-width: 900px;
}

.table thead th,
.table tbody td{
  text-align: center;
}

.table tbody td>img{
  width:90px;
}

